name: lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  groovy-lint:
    name: Groovy Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npx npm-groovy-lint Jenkinsfile
  json-lint:
    name: JSON Parse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: "node -e \"JSON.parse(require('fs').readFileSync('base.json'));\""
